<app-card>
  <div card-header>Position: {{item.Name}}</div>
  <div card-content>
    <dl>
      <dt>Short</dt>
      <dd>{{item.Short}}</dd>
      <dt>Name</dt>
      <dd>{{item.Name}}</dd>
      <dt>NetDefaultPrice</dt>
      <dd>{{item.NetDefaultPrice | currency:'EUR' }}</dd>
      <dt>TaxPercentage</dt>
      <dd>{{item.TaxPercentage}}%</dd>
      <dt>Unit</dt>
      <dd>{{item.Unit}}</dd>
    </dl>
  </div>
  <div card-footer>
    <button [routerLink]="['/positions/' + item._id]">Edit</button>
    <button (click)="deleteMe()">Delete</button>
  </div>
</app-card>
