<header>
  <h1>Customers</h1>
</header>
<main>
  <div>
    <h2>Search</h2>
    <form>
      <div class="form-row">
        <label>Name</label>
        <input [(ngModel)]="name" name="name" class="form-control">
      </div>
      <div class="form-row">
        <button (click)="search()" class="btn btn-default">Search</button>
      </div>
      <div class="form-row">
        <button (click)="new()" class="btn btn-default">New</button>
      </div>
    </form>
  </div>
  <div *ngFor="let c of customers">
    <app-customer-card [item]="c" (delete)="delete($event)">

    </app-customer-card>

    </app-customer-card>
  </div>
</main>
