<header>
  <h1>Position</h1>
</header>
<main>
  <div>
    <h2>Search</h2>
    <form>
      <div class="form-row">
        <label>Name</label>
        <input [(ngModel)]="name" name="name" class="form-control">
      </div>
      <div class="form-row">
        <button (click)="search()" class="btn btn-default">Search</button>
      </div>
      <div class="form-row">
          <button (click)="new()" class="btn btn-default">New</button>
        </div>
    </form>
  </div>
  <div *ngFor="let p of positions">
    <app-position-card [item]="p">

    </app-position-card>
  </div>
</main>
